.video-frame {
    border-radius: 0.5rem;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.headline {
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem 0;
}

.description {
    @apply bg-neutral-500/50;
    padding: 1rem;
    border-radius: 1.5rem;
    margin: 0 1rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
    .description {
        margin: 0;
    }
}
