:root {
  --color-primary: #d0bcff;
  --color-on-primary: #3c0091;
  --color-primary-container: #5516be;
  --color-on-primary-container: #e9ddff;
  --color-secondary: #ddb7ff;
  --color-on-secondary: #490080;
  --color-secondary-container: #6900b3;
  --color-on-secondary-container: #f0dbff;
  --color-tertiary: #fbabff;
  --color-on-tertiary: #580065;
  --color-tertiary-container: #7c008e;
  --color-on-tertiary-container: #ffd6fd;
  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  --color-on-error: #690005;
  --color-on-error-container: #ffdad6;
  --color-background: #1c1b1e;
  --color-on-background: #e6e1e6;
  --color-surface: #1c1b1e;
  --color-on-surface: #e6e1e6;
  --color-surface-variant: #49454e;
  --color-on-surface-variant: #cac4cf;
  --color-outline: #948f998f;
  --color-inverse-on-surface: #1c1b1e;
  --color-inverse-surface: #e6e1e6;
  --color-inverse-primary: #6d3bd7;
  --color-shadow: #000000;
  --color-surface-tint: #d0bcff;
  --color-outline-variant: #49454e;
  --color-scrim: #000000;
}
