:root {
  --color-primary: #3b82f6;
  --color-on-primary: #ffffff;
  --color-primary-container: #bfdbfe;
  --color-on-primary-container: #172554;
  --color-secondary: #8b5cf6;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #ddd6fe;
  --color-on-secondary-container: #2e1065;
  --color-tertiary: #f97316;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #fed7aa;
  --color-on-tertiary-container: #431407;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #410002;
  --color-background: #fffbff;
  --color-on-background: #1c1b1e;
  --color-surface: #fffbff;
  --color-on-surface: #1c1b1e;
  --color-surface-variant: #e9edf3;
  --color-on-surface-variant: #49454e;
  --color-outline: #7a757f;
  --color-inverse-on-surface: #f5eff4;
  --color-inverse-surface: #323033;
  --color-inverse-primary: #d0bcff;
  --color-shadow: #000000;
  --color-surface-tint: #3b82f6;
  --color-outline-variant: #cac4cf;
  --color-scrim: #000000;
}
