---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {}

const { ...attrs } = Astro.props;
---

<button {...attrs}> Download my CV</button>

<style>
    button {
        padding: 1rem 2rem;
        background-color: rgba(var(--tertiary));
        color: rgba(var(--on-tertiary));
        border-radius: 1rem;
    }
</style>
