---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"button"> {}

const { class: cls, ...attrs } = Astro.props;
---

<button
  class={twMerge(cls, "px-8 py-4 bg-tertiary text-on-tertiary rounded-lg")}
  {...attrs}
>
  Download my CV
</button>
