---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"button"> {}

const { class: cls, ...attrs } = Astro.props;
---

<button
  {...attrs}
  class={twMerge("px-8 py-4 rounded-xl bg-tertiary-600 text-tertiary-50", cls)}
>
  Download my CV
</button>
