---
interface Props {
  name: string
  platform: string
  language: string
  framework: string
  description: string
  link: string
  images: string[]
}

const props = Astro.props
---

<a
  href={props.link}
  class="flex flex-col gap-6 self-stretch p-6 border rounded-xl"
>
  <h3 class="text-3xl">{props.name}</h3>
  <p>{props.description}</p>
</a>
