<section class="max-w-6xl w-full mx-auto px-6">
  <header class="max-w-lg">
    <h1 class="font-bold text-3xl py-4">Selected Work</h1>
    <p class="lg:text-lg">
      Take a look below at some of my featured work for clients from the past
      few years.
    </p>
  </header>
</section>