<section>
  <header>
    <h1>Selected Work</h1>
    <p>
      Take a look below at some of my featured work for clients from the past
      few years.
    </p>
  </header>
</section>

<style>
  section {
    max-width: 72rem;
    width: 100%;
    margin: 2rem auto;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 2.25rem;
    align-items: center;
    padding: 1rem 0;
  }

  header p {
    text-align: center;
  }
</style>
