---
import projects from '~data/projects.json'
import ProjectItem from './ProjectItem.astro'
---

<section
  class="space-y-8 max-w-6xl w-full mx-auto my-8 px-6 flex flex-col items-center"
>
  <header class="max-w-lg flex flex-col items-center">
    <h1 class="font-semibold text-3xl py-4">Selected Work</h1>
    <p class="text-center">
      Take a look below at some of my featured work for clients from the past
      few years.
    </p>
  </header>
  <ul class="flex flex-wrap md:grid grid-cols-3 gap-6">
    {
      projects.map((project) => (
        <li>
          <ProjectItem {...project} />
        </li>
      ))
    }
  </ul>
</section>
