---
import skills from "@data/skills.json";
import SkillItem from "./SkillItem.astro";
---

<div class="max-w-7xl md:mx-auto block px-4 md:px-6">
  <section
    class="w-full rounded-3xl lg:rounded-[3rem] border-2 border-primary-300/25 px-6 lg:px-10 py-10 flex flex-col items-center md:flex-row gap-8 lg:gap-4 justify-evenly"
  >
    {
      skills.map((skill) => (
        <SkillItem
          title={skill.title}
          icon={skill.icon}
          description={skill.description}
        />
      ))
    }
  </section>
</div>
