---
import SquareStack from "~components/svgs/SquareStack.astro";

interface Props {
    title: string;
    description: string;
    icon: string;
}

const { title, description } = Astro.props;
---

<dev
    class="max-w-sm flex flex-col items-center gap-4 text-center justify-end lg:max-w-[350px] w-full"
>
    <SquareStack class="w-20 h-20 stroke-primary"/>
    <h3 class="font-bold text-2xl">{title}</h3>
    <p>{description}</p>
</dev>
