---
import tools from "~data/tools.json";
---

<section class="flex flex-col items-center justify-center gap-8">
  <header class="flex flex-col items-center gap-4">
    <h1 class="text-5xl font-bold">My tools</h1>
    <p class="lg:text-lg">Here some app, I use very often</p>
  </header>
  <ul class="flex flex-col items-center">
    {
      tools.map((tool) => (
        <li>
          <a href={tool.href}>{tool.name}</a>
        </li>
      ))
    }
  </ul>
</section>
