---
import type { HTMLAttributes } from "astro/types"
import { twMerge } from "tailwind-merge"

type Props = HTMLAttributes<"a">

const { class: cls, ...attrs } = Astro.props
const mail = import.meta.env.EMAIL
---

<a
  {...attrs}
  href={`mailto:${mail}`}
  target="_blank"
  class={twMerge(
    "ineline-block px-8 py-4 rounded-lg border-2 border-tertiary dark:border-tertiary-400 text-tertiary dark:text-tertiary-400",
    cls,
  )}
>
  Contact me
</a>
