---
import Header from "@components/header/Header.astro";
import PortfolioHeader from "@components/portfolio/PortfolioHeader.astro";
import ProjectList from "@components/portfolio/ProjectList.astro";
import SkillList from "@components/portfolio/SkillList.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
	title="Aziz"
	description="My name is Abdou Aziz Ndao and this is my personnel website where a make my portfoilio, and courses for web and mobile development and my blog"
>
	<div slot="header"><span></span></div>
	<div class="home content bg-[black] text-[lightgray] flex gap-8 flex-col">
		<Header />
		<PortfolioHeader />
		<SkillList />
		<ProjectList />
	</div>
</BaseLayout>

<style>
	.home {
		display: flex;
	}
</style>
