---
import Header from "@components/header/Header.astro";
import PortfolioHeader from "@components/portfolio/PortfolioHeader.astro";
import ProjectList from "@components/portfolio/ProjectList.astro";
import SkillList from "@components/portfolio/SkillList.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Welcome to Astro." description="My portfolio">
	<div class="home content bg-neutral-950 text-neutral-200 flex gap-8 flex-col">
		<Header />
		<PortfolioHeader />
		<SkillList />
		<ProjectList />
		<footer></footer>
	</div>
</BaseLayout>

<style>
	.home {
		display: flex;
	}
</style>
