.video {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  width: 100%;
}

.video[aria-selected="true"] {
  background-color: rgba(var(--primary-container), 0.5);
}

.image {
  aspect-ratio: 16 / 9;
  height: 4.5rem;
  width: auto;
  border-radius: 0.5rem;
  /* object-fit: cover; */
  /* flex: 4; */
}

@media (max-width: 1024px) {
  .image {
    height: 3.5rem;
  }
}

.headline {
  flex: 8;
  text-align: start;
  padding: 0.25rem 0;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  max-lines: 2;
  text-overflow: hidden;
  width: 100%;
}
