---
import CloseIcon from "~components/svgs/CloseIcon.astro";
import MenuIcon from "~components/svgs/MenuIcon.astro";
import mainMenu from "./main-menu.json";
const pathname = Astro.url.pathname;

interface Props {
  class?: string;
}
---

<div class={Astro.props.class}>
  <dialog id="main-menu">
    <ul role="menu" class="md:flex flex-col px-4 items-center gap-6">
      {
        mainMenu.map(({ href, title }) => (
          <li>
            <a
              href={href}
              aria-current-page={
                href == "/" ? pathname === "/" : pathname.startsWith(href)
              }
            >
              {title}
            </a>
          </li>
        ))
      }
      <li class="self-center flex justify-center mb-4 mt-2">
        <button class="close-button">
          <CloseIcon />
        </button>
      </li>
    </ul>
  </dialog>
  <button class="open-button border-2 rounded-md p-1">
    <MenuIcon />
  </button>
</div>

<script>
  const menu = document.querySelector("dialog#main-menu") as HTMLDialogElement;

  document
    .querySelector(".open-button")
    ?.addEventListener("click", () => menu?.showModal());

  document
    .querySelector(".close-button")
    ?.addEventListener("click", () => menu?.close());
</script>

<style>
  dialog {
    max-width: 21rem;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: theme(boxShadow.2xl);
    @apply bg-white dark:bg-neutral-900;
  }

  dialog::backdrop {
    @apply bg-black/30;
  }

  .close-button {
    @apply bg-danger-600/30;
    padding: 0.75rem;
    border-radius: 900px;
  }

  .close-button > svg {
    @apply stroke-danger-600 stroke-[4px];
  }

  ul[role="menu"] {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: stretch;
  }

  ul a {
    @apply text-neutral-700 dark:text-neutral-300 hover:text-primary-500 hover:bg-primary-200;
    text-decoration: none;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
  }

  ul a[aria-current-page] {
    border-radius: 4rem;
    @apply text-primary-500 bg-primary-500/25;
  }
</style>
