---
import MenuIcon from "@components/svgs/MenuIcon.astro";
import HeaderLink from "./HeaderLink.astro";
import mainMenu from "./main-menu.json";
import CloseIcon from "@components/svgs/CloseIcon.astro";
import { twMerge } from "tailwind-merge";
const pathname = Astro.url.pathname;

interface Props {
  class?: string;
}
---

<div class={Astro.props.class}>
  <dialog
    id="main-menu"
    class="max-w-sm w-full rounded-3xl shadow-2xl backdrop:backdrop-blur-sm backdrop:bg-[var(--color-backgroud)] backdrop:bg-opacity-10"
  >
    <ul class="md:flex flex-col px-4 items-center gap-6">
      {
        mainMenu.map(({ href, title }) => (
          <li>
            <a
              href={href}
              class={twMerge(
                "block py-6 text-center text-2xl font-bold text-[var(--color-on-surface-variant)]",
                (href == "/" ? pathname === "/" : pathname.startsWith(href)) &&
                  "underline decoration-[var(--color-primary)] text-[var(--color-primary)]"
              )}
            >
              {title}
            </a>
          </li>
        ))
      }
      <li class="self-center flex justify-center mb-4 mt-2">
        <button
          class="close-button bg-[var(--color-error-container)] rounded-full p-2 border-4 border-[var(--color-error-container)]"
        >
          <CloseIcon class="stroke-[4px] stroke-[var(--color-error)]" />
        </button>
      </li>
    </ul>
  </dialog>
  <button class="open-button border-2 rounded-md p-1">
    <MenuIcon />
  </button>
</div>

<script>
  const menu = document.querySelector("dialog#main-menu") as HTMLDialogElement;

  document
    .querySelector(".open-button")
    ?.addEventListener("click", () => menu?.showModal());

  document
    .querySelector(".close-button")
    ?.addEventListener("click", () => menu?.close());
</script>

<style>
  #main-menu {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
  }
</style>
