---
interface Props {
  href: string;
  active: boolean;
}
const { href, active } = Astro.props;
---

<a
  href={href}
  class:list={{
    "text-primary-500 hover:text-primary-600 underline decoration-[4px] decoration-offset-[4px] font-medium":
      active,
  }}
>
  <slot />
</a>
