---
interface Props {
  href: string;
  active: boolean;
}
const { href, active } = Astro.props;
---

<a href={href} aria-active={active}>
  <slot />
</a>

<style>
  a {
    text-decoration: none;
  }

  a[aria-active="true"] {
    text-decoration-thickness: 4px;
    color: rgb(var(--primary));
    text-decoration: underline 4px rgb(var(--primary));
    font-weight: 600;
  }
</style>
