:root {
  --primary: 173, 198, 255;
  --on-primary: 0, 46, 106;
  --primary-container: 0, 67, 149;
  --on-primary-container: 216, 226, 255;
  --secondary: 210, 187, 255;
  --on-secondary: 64, 0, 143;
  --secondary-container: 90, 0, 198;
  --on-secondary-container: 234, 221, 255;
  --tertiary: 221, 183, 255;
  --on-tertiary: 73, 0, 128;
  --tertiary-container: 105, 0, 179;
  --on-tertiary-container: 240, 219, 255;
  --error: 255, 180, 171;
  --error-container: 147, 0, 10;
  --on-error: 105, 0, 5;
  --on-error-container: 255, 218, 214;
  --background: 27, 27, 31;
  --on-background: 227, 226, 230;
  --surface: 27, 27, 31;
  --on-surface: 227, 226, 230;
  --surface-variant: 68, 71, 79;
  --on-surface-variant: 196, 198, 208;
  --outline: 142, 144, 153;
  --inverse-on-surface: 27, 27, 31;
  --inverse-surface: 227, 226, 230;
  --inverse-primary: 0, 90, 194;
  --shadow: 0, 0, 0;
  --surface-tint: 173, 198, 255;
  --outline-variant: 68, 71, 79;
  --scrim: 0, 0, 0;
}
