:root {
  --primary: 0, 90, 194;
  --on-primary: 255, 255, 255;
  --primary-container: 216, 226, 255;
  --on-primary-container: 0, 26, 66;
  --secondary: 115, 46, 228;
  --on-secondary: 255, 255, 255;
  --secondary-container: 234, 221, 255;
  --on-secondary-container: 37, 0, 90;
  --tertiary: 132, 43, 210;
  --on-tertiary: 255, 255, 255;
  --tertiary-container: 240, 219, 255;
  --on-tertiary-container: 44, 0, 81;
  --error: 186, 26, 26;
  --error-container: 255, 218, 214;
  --on-error: 255, 255, 255;
  --on-error-container: 65, 0, 2;
  --background: 254, 251, 255;
  --on-background: 27, 27, 31;
  --surface: 254, 251, 255;
  --on-surface: 27, 27, 31;
  --surface-variant: 225, 226, 236;
  --on-surface-variant: 68, 71, 79;
  --outline: 117, 119, 127;
  --inverse-on-surface: 242, 240, 244;
  --inverse-surface: 48, 48, 52;
  --inverse-primary: 173, 198, 255;
  --shadow: 0, 0, 0;
  --surface-tint: 0, 90, 194;
  --outline-variant: 196, 198, 208;
  --scrim: 0, 0, 0;
}
