---
export const prerender = false;

import TutorialCard from "@components/tutotials/TutorialCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { getAllPlaylists } from "@lib/youtube";

const data = await getAllPlaylists();

if (!data) {
  Astro.redirect("/404");
}

const playlists = data?.items ?? [];
---

<MainLayout
  title="My tutorials on youtube"
  description="My tutorials on youtube"
>
  <div class="container">
    <header class="py-8 px-4 flex items-center justify-center min-h-[200px]">
      <h1 class="text-4xl font-bold">Tutorials on Youtube</h1>
    </header>
    <ul
      class="w-full px-6 pb-8 lg:px-0 grid grid-cols-1 place-content-center md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-7xl mx-auto"
    >
      {playlists.map((playlist) => <TutorialCard data={playlist} />)}
    </ul>
  </div>
</MainLayout>
