---
export const prerender = false;

import TutorialCard from "@components/tutotials/TutorialCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { getAllPlaylists } from "@lib/youtube";

const data = await getAllPlaylists();

if (!data) {
  Astro.redirect("/404");
}

const playlists = data?.items ?? [];
---

<MainLayout title="Tutorials" description="My tutorials on youtube">
  <div class="container">
    <header class="py-8 px-4 flex items-center justify-center min-h-[200px]">
      <h1 class="text-4xl font-bold">Tutorials on Youtube</h1>
    </header>
    <ul class="grid">
      {playlists.map((playlist) => <TutorialCard data={playlist} />)}
    </ul>
  </div>
</MainLayout>

<style>
  .grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 80rem;
    margin: auto;
    padding: 2rem;
  }
</style>
