---
const year = new Date().getFullYear();
---

<footer
  id="footer"
  class="max-w-[var(--max-width)] mx-auto border-t border-neutral-300 dark:border-t-neutral-600 flex items-center justify-center gap-4"
>
  <div
    class="inner-footer mx-auto px-6 py-8 flex flex-col gap-6 justify-center items-center w-full"
  >
    <p class="text-lg">Build with Astro & ❤️</p>
    <!-- Copyright -->
    <p class="text-sm font-bold text-neutral-950 dark:text-neutral-200">
      © {year}
      <a href="https://github.com/azizndao">Aziz</a>
    </p>
  </div>
</footer>
