---
import MainLayout from "~layouts/MainLayout.astro";
---

<MainLayout
  title="My code challenges"
  description="Latest news, updates, and stories for developers"
>
  <div
    class="max-w-8xl mx-auto h-[calc(100dvh-var(--header-height))] pb-[-var(--header-height)] grid place-content-center"
  >
    <h1 class="text-5xl font-bold">No code challenges</h1>
  </div>
</MainLayout>

<style></style>
