---
import type { CollectionEntry } from "astro:content"
import ArticleHeader from "~components/article/ArticleHeader.astro"
import MarkdownArticle from "~components/article/MarkdownArticle.astro"
import Header from "~components/header/Header.astro"
import TableOfContent from "~components/toc/TableOfContent.astro"
import BaseLayout from "./BaseLayout.astro"

interface Props {
  entry: CollectionEntry<"blog">
}
const { entry } = Astro.props

const { Content, headings } = await entry.render()
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
  <main
    class="mx-auto flex mb-12 flex-col overflow-x-visible md:grid md:gap-6 grid-cols-[minmax(0,_1fr)_minmax(0,_2fr),_minmax(0,_1fr)] md:pl-6 md:pr-12 lg:px-4 lg:grid-cols-[minmax(0,_2.5fr)_minmax(0,_1fr)] max-w-7xl lg:gap-12 lg:grid"
  >
    <Header class="appbar sticky lg:col-span-full top-0 z-10" />
    <ArticleHeader entry={entry} class="lg:col-span-full mx-5 md:mx-0" />
    <MarkdownArticle>
      <Content />
    </MarkdownArticle>
    <aside
      class="right hidden md:block md:top-header inset-0 md:w-full md:h-content shadow-none"
    >
      <TableOfContent headings={headings} slot="rigth-sidebar" />
    </aside>
  </main>
</BaseLayout>
