---
import CourseCard from "@components/courses/CourseCard.astro";
import courses from "@data/courses.json";
import MainLayout from "@layouts/MainLayout.astro";

// const pages = await Astro.glob("../../content/courses/**/index.mdx");

// console.log(pages.map((page) => ({ ...page.frontmatter })));
---

<MainLayout title="My courses" description="My courses">
  <div class="max-w-7xl mx-auto">
    <header class="py-8 px-4 flex items-center justify-center min-h-[200px]">
      <h1 class="text-4xl font-bold">My courses</h1>
    </header>
    <ul class="mx-auto">
      {courses.map((courses) => <CourseCard {...courses} />)}
    </ul>
  </div>
</MainLayout>

<style>
  ul {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 2rem;
  }
</style>
